<%- include('_navbar') %>

<!-- ----------------------------------------------------------------------------------------------- -->

<section class="section blog has-bg-image" id="blog" aria-label="blog"
        style="background-image: url('./Static/Images/blog-bg.svg')">
        <div class="container">

          <p class="section-subtitle">Our Staff</p>

          <h2 class="h2 section-title">Teachers Who <span class="span">Teach</span> From The <span class="span">Heart</span></h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="./Static/Images/blog-1.jpg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-btn" aria-label="read more">
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                  <a href="#" class="card-subtitle">Online</a>

                  <h3 class="h3">
                    <a href="#" class="card-title">Ms Shivam Bhatacharje</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Oct 10, 2021</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Master in science</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="./Static/Images/blog-1.jpg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-btn" aria-label="read more">
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                  <a href="#" class="card-subtitle">Online</a>

                  <h3 class="h3">
                    <a href="#" class="card-title">Ms Shivam Bhatacharje</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Oct 10, 2021</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Master in science</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                  <img src="./Static/Images/blog-1.jpg" width="370" height="370" loading="lazy"
                    alt="Become A Better Blogger: Content Planning" class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-btn" aria-label="read more">
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </a>

                  <a href="#" class="card-subtitle">Online</a>

                  <h3 class="h3">
                    <a href="#" class="card-title">Ms Shivam Bhatacharje</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Oct 10, 2021</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                      <span class="span">Master in science</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
                <div class="blog-card">
  
                  <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                    <img src="./Static/Images/blog-1.jpg" width="370" height="370" loading="lazy"
                      alt="Become A Better Blogger: Content Planning" class="img-cover">
                  </figure>
  
                  <div class="card-content">
  
                    <a href="#" class="card-btn" aria-label="read more">
                      <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </a>
  
                    <a href="#" class="card-subtitle">Online</a>
  
                    <h3 class="h3">
                      <a href="#" class="card-title">Ms Shivam Bhatacharje</a>
                    </h3>
  
                    <ul class="card-meta-list">
  
                      <li class="card-meta-item">
                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
  
                        <span class="span">Oct 10, 2021</span>
                      </li>
  
                      <li class="card-meta-item">
                        <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
  
                        <span class="span">Master in science</span>
                      </li>
  
                    </ul>
  
                  </div>
  
                </div>
              </li>
  
              <li>
                <div class="blog-card">
  
                  <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                    <img src="./Static/Images/blog-1.jpg" width="370" height="370" loading="lazy"
                      alt="Become A Better Blogger: Content Planning" class="img-cover">
                  </figure>
  
                  <div class="card-content">
  
                    <a href="#" class="card-btn" aria-label="read more">
                      <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </a>
  
                    <a href="#" class="card-subtitle">Online</a>
  
                    <h3 class="h3">
                      <a href="#" class="card-title">Ms Shivam Bhatacharje</a>
                    </h3>
  
                    <ul class="card-meta-list">
  
                      <li class="card-meta-item">
                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
  
                        <span class="span">Oct 10, 2021</span>
                      </li>
  
                      <li class="card-meta-item">
                        <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
  
                        <span class="span">Master in science</span>
                      </li>
  
                    </ul>
  
                  </div>
  
                </div>
              </li>

          </ul>

          <img src="./Static/Images/blog-shape.png" width="186" height="186" loading="lazy" alt=""
            class="shape blog-shape">

        </div>
      </section>

<!-- ----------------------------------------------------------------------------------------------- -->


<%- include('_footer') %>