<%- include('_navbar') %>

<section class="section blog has-bg-image" id="blog" aria-label="blog"
        style="background-image: url('./Static/Images/blog-bg.svg')">
        <div class="container">

          <p class="section-subtitle">Gallery</p>

          <h2 class="h2 section-title">Memories Are <span class="span">Timeless Treasures</span> Of The Heart</h2>

          <!-- ----------------------------------------------------------------------------------------------- -->

          <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-24">

              <img src="./Static/Images/blog-1.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-2.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-3.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">

              <img src="./Static/Images/blog-3.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-1.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-2.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
    
              <img src="./Static/Images/blog-2.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-3.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
              <img src="./Static/Images/blog-1.jpg" alt="" class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 hover:p-2 transition-all duration-500">
    
          </div>

          <!-- ----------------------------------------------------------------------------------------------- -->

          <p class="section-subtitle">Videos</p>

          <h2 class="h2 section-title">Memories Are <span class="span">Timeless Treasures</span> Of The Heart</h2>

          <!-- ----------------------------------------------------------------------------------------------- -->

          <div class="grid grid-cols-2 md:grid-cols-3 gap-4">

            <iframe src="https://www.youtube.com/embed/3Kxf2dHlDpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 transition-all duration-500"></iframe>
              
            <iframe src="https://www.youtube.com/embed/3Kxf2dHlDpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 transition-all duration-500"></iframe>

            <iframe src="https://www.youtube.com/embed/3Kxf2dHlDpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 transition-all duration-500"></iframe>

            <iframe src="https://www.youtube.com/embed/3Kxf2dHlDpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 transition-all duration-500"></iframe>
            
            <iframe src="https://www.youtube.com/embed/3Kxf2dHlDpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="p-0 w-[500px] aspect-[1.35] object-cover max-w-full rounded-lg bg-transparent m-2 transition-all duration-500"></iframe>
    
          </div>

          <!-- ----------------------------------------------------------------------------------------------- -->

          <img src="./Static/Images/blog-shape.png" width="186" height="186" loading="lazy" alt=""
            class="shape blog-shape">

        </div>
</section>


<%- include('_footer') %>
