<header class="header z-50 sticky top-0 left-0" data-header >
    <div class="container">
  
      <a href="#" class="logo">
        <img src="./Static/Images/logo-transperant.png" width="162" height="50" alt="Logo">
      </a>
  
      <nav class="navbar" data-navbar>
  
        <div class="wrapper">
          <a href="#" class="logo">
            <img src="./Static/Images/logo-transperant.png" width="162" height="50" alt="Logo">
          </a>
  
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
  
        <ul class="navbar-list">
  
          <li class="navbar-item">
            <a href="/admin" class="navbar-link" data-nav-link>Home</a>
          </li>
  
          <li class="navbar-item">
            <a href="/admin/admin-courses" class="navbar-link" data-nav-link>Courses</a>
          </li>
  
          <li class="navbar-item">
            <a href="/admin/admin-faculty" class="navbar-link" data-nav-link>Faculty</a>
          </li>
  
          <li class="navbar-item">
            <a href="/admin/admin-gallery" class="navbar-link" data-nav-link>Gallery</a>
          </li>
  
          <li class="navbar-item">
            <a href="/admin/admin-testomonial" class="navbar-link" data-nav-link>Tetomonial</a>
          </li>
  
          <li class="navbar-item">
            <a href="/admin/admin-study-material" class="navbar-link" data-nav-link>Study Material</a>
          </li>

          <li class="navbar-item">
            <a href="/admin/admin-control" class="navbar-link" data-nav-link>Admin</a>
          </li>
  
        </ul>
  
      </nav>
  
      <div class="header-actions">
  
        <a href="/log-out" class="btn has-before">
          <span class="span">Sign Out</span>
  
          <ion-icon name="log-out-outline"></ion-icon>
        </a>

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
  
      </div>
  
      <div class="overlay" data-nav-toggler data-overlay></div>
  
    </div>
  </header>