<div class="wrapper">
    

  
    <div class="rating-wrapper">
        <% for( let i = 1; i <= n; i++ ) { %>
            <ion-icon name="star"></ion-icon>
        <% } %>
        <% for( let i = 1; i <= 5-n; i++ ) { %>
            <ion-icon name="star-outline"></ion-icon>
        <% } %>
    </div>

    <p class="rating-text">( <%= n  %> /5 Rating)</p>

</div>